<ul id="menudropdown" class="dropdown-content">
  <li>
    <a href="">
      <i class="material-icons left">settings</i>Settings
    </a>
  </li>
  <li>
    <a href="">
      <i class="material-icons left">exit_to_app</i>Sign out
    </a>
  </li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">
      <%= image_tag("logo4.png", :alt => "logo") %>
    </a>
    <a href="" data-activates="mobile-demo" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="">
          <i class="material-icons left">library_books</i>Courses
        </a>
      <li>
        <a class="dropdown-button" href="" data-activates="menudropdown">
          <i class="material-icons left">account_circle</i>User<i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>
        <a href="">
          <i class="material-icons left">library_books</i>Courses
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons left">settings</i>Settings
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons left">exit_to_app</i>Sign out
        </a>
      </li>
    </ul>
  </div>
</nav>
