<div class="fixed-action-btn">

  <%= link_to "<i class='large material-icons'>mode_edit</i>".html_safe, root_path, :class => "btn-floating btn-large btn tooltipped", :data => { position:"left", delay:"50", tooltip:"Create courses" } %>

</div>
